@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{  
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    height: 595px;
    background-image: url('assets/header-background.png') ;
    background-size: cover;
}
.title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    top: 300px;
}
.title img{
    width: 350px;
}
.kylo-figure{
    width: 89%;
    display: flex;
    position: relative;
    bottom: 107px;
    left: 57px;
}
.kylo-figure img{
    width: 70vw;
    z-index: 1;
}
.legion {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 383px;
}
.legion img {
    width: 150px;
}

/* Main */


.main-container1 {
    width: 98vw;
    height: 173vh;
    background: url('assets/main-container01.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.start-play-box {
    width: 20vw;
    height: 59vh;
    position: relative;
    left: 200px;
    top: -65px;
    z-index: 1;
}
.start-play-box img {
    width: 100%;
}

.about__game {
    width:54vw;
    height: 35vh;
    font-family: 'OpenSans';
    display: flex;
    
    position: relative;
    bottom: 263px;
    /*! left: 500px; */
    float: right;
}

.about__game p{
    text-align: right;
    margin: 0px 10px;
    font-size: 15px;
}
#battlefront {
    width: 25vw;
    height: 15vw;
    position: relative;
    top: 15px;
}
.about__game--title {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 8px;
}
.about__game--title img {
    padding: 25px 0px;
    width: 12vw;
    height: 1vh;
}
.about__game--p-img {
    display: flex;
    font-size: 15px;

}
.sectionrow {
    /*! float: right; */
    width: 1vw;
    height: 2vh;
}
.sectionrow img{
    width: 100px;
}

.estrutura-game {
    width: 89vw;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 114px;
}
#sith {
    /*! width: 762px; */
    height: 700px;
    position: relative;
    left: 324px;
}
#rey {
    /*! width: 350px; */
    height: 608px;
    position: relative;
    top: 102px;
}
.estrutura-game-nav {
    /*! width: 1000px; */
    font-size: 25px;
    position: relative;
    top: 40px;
    text-align: right;
}
.estrutura-game-nav ul li {
    list-style: none;
    width: 32vw;
    padding: 10px;
}
.estrutura-game-nav h2{
    font-size: 42px;
    text-align: right;
    padding: 20px;
}
.estrutura-game-nav span{
    font-weight: bolder;
}

.list-hover:hover {
    background: #d74430;
    color: white;
    padding: 0px 10px;
}

/* Main container 2 */

.main-container2 {
    width: 98.8vw;
    height: 173vh;
    background: #2d2d2d;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.main-container2-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    padding: 20px;
    position: relative;
    top: 100px;
}
#img-gallery {
    width: 40vw;
    margin-top: 5px;
}
#img-gallery img {
    width: 100%;
}

.main-container2 h2{
    color: white;
    position: relative;
    left: 180px;
    top: 100px;
    font-size: 2em;
    margin-bottom: 15px;
}
.gallery-flex {
    display: flex;
    flex-direction: row;
    /*! flex-wrap: wrap; */
    width: 62vw;
    padding-bottom: 1px;
}
.gallery-flex img  {
    width: 100%;
}
.gallery-hover {
    /*! width: 50vw; */
    /*! position: relative; */
    top: 140px;
}
.gallery-img-hover {
    opacity: 0;
    transition: 1s;
    position: relative;
    bottom: 138px;
}
.gallery-img-hover:hover {
    opacity: 1;
}